*{
  margin:0;
  padding:0;
  overflow: hidden;
  font-family: 'monospace';
  color: black;
font-size: 20px;
}
body{
  background-color: rgb(255, 255, 255);

}
ul{

  background-color: rgba(0,0,0,0);
}
li a { margin: 0px; display: block; width: 100%; height: 100%; }

.content{

  background-color: rgba(153, 237, 195,1);
  overflow-y: scroll;

}



nav ul{
  display: flex;
  text-align:end;
  list-style: none;
}

nav li{
  padding: 1em 2em;

}
nav li:hover{
  border-top: solid 1px black;
  cursor: pointer;
  background-color: rgba(153, 237, 195,0.3)

}

nav li.current{
  border-top: solid 1px black;
  cursor: pointer;
  background-color: rgba(153, 237, 195,0.3)

}

.option{
 display:none;
}

.outer{
  overflow-y:scroll;
  width:100%;
background-color: rgba(0,0,0,0);
}
.score{
  position: absolute;
  top:3%;
  left:1%;
  color:black;

}
.main_layout{
  color: white;
position: relative;
z-index: 10;
  width:70%;
  height: 100vh;
box-shadow: 1px 1px 25px 0px  rgba(0,0,0,0.5);
  margin:0 auto;
  overflow-y:scroll;
  -ms-overflow-style: none;
  scrollbar-width:none;
}

.main_layout::-webkit-scrollbar{
  width:0 !important;
  display: none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.header{
  width:100%;
  height:auto;
  border-bottom: solid 1px black;
  display: flex;
  padding-top: 1em;
  justify-content: space-between;
  box-shadow: 0px 4px 6px -2px  rgba(0,0,0,0.5);

}


.main{
  width:85%;
  height:auto;
  overflow-y:scroll;
  border-radius:10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0);
  font-weight: 700;
margin:5vh auto;
color: white;
}
.text{
  width: 50%;
  background-color: rgba(0,0,0,0);
  z-index: 10;
  color: white;
font-weight: 700;

}
img{
  width:100%;
border: dashed 2px  white;

}

a{
text-decoration: none;
background-color: rgba(0,0,0,0);
}

b{
  color: white;
}
 .large-txt{
  font-size: 8em;
  font-weight:700;
  background-color: rgba(0,0,0,0);
  color: white;


}
.aboutme{
  width:83.3333%;
  background-color: rgba(0,0,0,0);
  color: white;
height:100%;
}
.image{
  display:flex;
  align-items: center;
  z-index: 10;
  background-color: rgba(0,0,0,0);
}

 #first{
  position:absolute;
  right:30%;
  width:50px;
  height:50px;
}
#second{
  position:absolute;
  right:20%;
  width:20px;
  height:20px;
}
#third{
  position:absolute;
  right:70%;
  width:70px;
  height:70px;
}


.bubble{
  width: 100%;
  height:100vh;
  z-index: 0;

 }
.bubble .item{

  opacity:0;
  border:0.3px solid rgba(255,255,255,0.1);
animation:bubble 20s linear ;
z-index: 0;
border-radius: 50%;

}

.ind {
  width:10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgba(0,0,0,0);
  margin-bottom:5px;
  margin-left: 5px;

}
.ind:hover{
  background-color: white !important;
cursor: pointer;
}
.chos{
  background-color: white !important;

}

@keyframes main-img{
0%{
  opacity:0;
}
50%{
  opacity:0;
}

100%{
  opacity:1;

}
}

.noborder{
  border:2px solid rgba(0,0,0,0) !important;
}

@keyframes main-txt{
0%{
  opacity:0;
  transform: translateX(50%);
}
50%{
  opacity:1;
  transform: translateX(50%);

}
100%{
  opacity:1;


}
}

@keyframes sm-main-txt{
0%{
  opacity:0;
  transform: translateY(50%);
}
100%{
  opacity:1;


}
}

@keyframes main-txt-down{
0%{
  opacity:0;
  transform: translateY(-50%);
}
100%{
  opacity:1;


}
}

@keyframes main-txt-up{
0%{
  opacity:0;
  transform: translateY(50%);
}
100%{
  opacity:1;


}
}

@keyframes main-txt-down-dis{
0%{
  opacity:1;
}
100%{
  opacity:0;
  transform: translateY(-50%);


}
}

@keyframes main-txt-up-dis{
100%{
  opacity:0;
  transform: translateY(50%);
}
0%{
  opacity:1;


}
}
@keyframes bubble{
0%{
  transform: translateY(0);
  opacity:0;
}
50%{
  opacity:1;
}
70%{
  opacity:1;
}
100%{
  transform:translateY(-100vh);
  opacity:0;

}

}
@keyframes slideup{
  0%{
    visibility: visible;

  }
  100%{
    visibility:hidden;

  }
}

@media (min-width:1000px){
.downarrow{
  display:none;
}
  .small-img{
    width:20%;

  }
  .lg-img{
    width:35%;

  }
.content{
  display:flex;
  flex: 1 1 auto;
}
  .text{
    animation: main-txt 3s linear;

  }
.aboutme{
  animation: main-img 1s linear;

}

  .indicators{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:10%;
    right:0;
    background-color: rgba(0,0,0,0);
  }
.hide{
  animation: slideup 0.1s linear;
}
  .main_layout{
    display:flex;
    flex-direction: column;
  }
  .main{
    position: relative;
    height:inherit;
    border-radius:10px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  .small-main{
    width:80%;

  }
  .lg-main{
    width:90%;
  }
  .outer{
    overflow-y:scroll;
    width:100%;
  flex: 1 1 auto;
    background-color: rgba(0,0,0,0);
    align-items: center;
    display: flex;
    justify-content: center;
  }
.image{
  animation: main-img 4s linear;

}
}
@media (max-width:1000px){
  .score{
    display: none;
  }
.main{
  height: auto !important;
  margin-top: 2em;

}
  .content{
    flex-direction:column;
    height:auto;
  }
  .outer{
    height:auto;
    flex-direction: column;
  }

  .indicators{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:100%;
    right:0;
    background-color: rgba(0,0,0,0);
  }

  .downarrow{
    display:block !important;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    height: auto;

  }
  .header{
    display: flex;
    width:100%;
    border-bottom: solid 1px black;
    flex-direction: column;
    justify-content: space-around;
    height:auto;
    padding : 1em 0;
    padding-top: 0;

  }
  .header .small{
    display: flex;
    width:100%;
    border-bottom: solid 1px black;
    flex-direction: column;
    justify-content: space-around;
    height:3em;
    padding : 1em 0;
    padding-top: 0;

  }
  nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding : 1em 0;
    align-items: end;
    min-height: min-content;
    background-color: rgba(0,0,0,0);


  }
  nav li {
    width:30%;
    background-color: rgba(0,0,0,0);

  }
   .option{
    display:block;
    z-index: 5;
    background-color: rgba(0,0,0,0);
  }

  .main{
    width: 95%;
    height:50rem;
    border-radius:10px;
    background-color: rgba(255,255,255,1);
    z-index: 5;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(153, 237, 195,0.8);
color: white;

  }

  .up{
    animation: main-txt-down 0.7s linear;

  }
  .down{

    animation: main-txt-up 0.7s linear;

  }

  .up-dis{
    animation: main-txt-down-dis 0.7s linear;

  }
  .down-dis{

    animation: main-txt-up-dis 0.7s linear;

  }

  .image{
    z-index: 5;
    background-color: rgba(0,0,0,0);
    width:50%;
    display:flex;
    align-items: center;

  }
  .text{
    padding-bottom: 2em;
  }
  .main_layout{
    width:100%;
height:100vh;
    margin:0 auto;
    overflow-y:scroll;
    -ms-overflow-style: none;
    scrollbar-width:none;
  }
  ul{
    display:flex;
  }

  #goup:hover{
filter:drop-shadow(0 0 0.2rem black);  }
  #godown:hover{
filter:drop-shadow(0 0 0.2rem black);
  }

}
